<div class="container">

<app-navbar></app-navbar>
  <div class="hero">
    <h1>Learn <br>Japanese</h1>
    <p>Visiting the temples in Kyoto, getting a new job, or making a personal connection --no matter why you want to learn, we have the right course for you</p>
    <div class="btn">Get Started</div>
  </div>
  <ul class="keys">
    <li><app-items [url]="'/assets/Blinguage/book.png'" textBold="Detailled lessons" text=" with vocablulary, grammar and culture"></app-items></li>
    <li><app-items [url]="'/assets/Blinguage/headset.png'" textBold="Detailled lessons" text=" with vocablulary, grammar and culture"></app-items></li>
    <li><app-items [url]="'/assets/Blinguage/loop.png'" textBold="Detailled lessons" text=" with vocablulary, grammar and culture"></app-items></li>
  </ul>
</div>
